body {

   margin:0;
   padding:0;
   height:100%;

}

#container {
   min-height:100%;
   position:relative;
}

.main{
    display: flex;
    height: 1000px;
    position:relative;
}

.list{
    position:relative;

    background-color: pink;
    width: 1000px;
    height: 100%;

    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 20px;


}

#first_column{
    padding-right: 5px;
     width: 30px;
}
#second_column {
    padding-right: 5px;
    width: 550px;
}
#third_column{
    padding-right: 5px;
    width: 200px;
}
#forth_column {
    padding-right: 5px;
    width: 200px;
}

.side_bar{
      padding-left: 35px;

}

#body {
   height: 1200px;

}

#footer {

    bottom: 0;
    width: 1200px;
    height: 30px; /* Height of the footer */
    color: grey;
    font-size: 12px;

    margin-left:auto;
    margin-right:auto;
}

img{
    width: 140px;
    height: 220px;

}

#title{
    font-size: 20px;
    color: darkred;
    padding-left: 10px;

}

