body {

   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

.main{
    display: flex;
    height: 800px;
    position:relative;
}

.list{
    background-color: #f0f1fd;
    width: 900px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#first_column{
    padding-right: 5px;
     width: 30px;
}
#second_column {
    padding-right: 5px;
    width: 550px;
}
#third_column{
    padding-right: 5px;
    width: 200px;
}
#forth_column {
    padding-right: 5px;
    width: 200px;
}

.side_bar{
      padding-left: 35px;

}

#body {
   height: 1000px;
   padding: 10px;
   padding-bottom: 60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   color: grey;
   font-size: 12px;
}

img{
    width: 130px;
    height: 210px;

}

#title{
    font-size: 20px;
    color: darkred;
    padding-left: 10px;

}

