.main{
    display: flex;
    height: 1000px;
}

.list{
    background-color: #f0f1fd;
    width: 900px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#first_column{
    padding-right: 5px;
     width: 30px;
}
#second_column {
    padding-right: 5px;
    width: 550px;
}
#third_column{
    padding-right: 5px;
    width: 200px;
}
#forth_column {
    padding-right: 5px;
    width: 200px;
}

.side_bar{
      padding-left: 35px;

}
footer{
    height: 25px;
    padding-top: 15px;
    color: grey;
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}


