#main{
    bottom: 1100px;
    background-color: pink;
    width: 1200px;
    height: 1100px;

    margin-left:auto;
    margin-right:auto; /* the page is positioned in the middle */
}
#top{
    background-color: darkslategray;
    height: 90px;
    width: 1200px;
}
#top1{
    position: relative;
    background-color: lightgreen;
    height: 90px;
    width: 400px;
}
#top2{
    position: relative;
    bottom: 90px;
    left: 400px;
    background-color: greenyellow;
    height: 90px;
    width: 400px;
    text-align: center;
    font-size: 30px;
    border: black ;

}
#top3{
    position: relative;
    bottom: 180px;
    left: 800px;
    background-color: yellow;
    height: 90px;
    width: 400px;
}
#book{
    background-color: floralwhite;
    height: 400px;
    width: 180px;
}
#book1{
    background-color: orange;
    height: 60px;
    width: 180px;
}
#book2{
    background-color: orangered;
    height: 250px;
    width: 180px;
}
#book3{
    background-color: lightcoral;
    height: 90px;
    width: 180px;
}
#info{
    position: relative;
    background-color: #8c8c8c;
    height: 390px;
    width: 700px;
    left: 190px;
    bottom: 390px;
    font-family: Times;
}
#info1{
    position: relative;
    background-color: #b9def0;
    height: 50px;
    width: 700px;
}
#info2{
    position: relative;
    background-color: aliceblue;
    height: 130px;
    width: 700px;
    font-weight: bold;
    font-size: 30px;
}
#info3{
    position: relative;
    background-color: blanchedalmond;
    height: 90px;
    width: 700px;
    font-size: 20px;
}
#info4{
    position: relative;
    background-color: cornflowerblue;
    height: 40px;
    width: 700px;
}
#info5{
    position: relative;
    background-color: darkorange;
    height: 80px;
    width: 700px;
}
#ads{
    position: relative;
    background-color: palegreen;
    height: 995px;
    width: 300px;
    left: 895px;
    bottom: 790px;
}
#ads1{
    position: relative;
    background-color: purple;
    height: 400px;
    width: 300px;
}
#ads2{
    position: relative;
    background-color: hotpink;
    height: 300px;
    width: 300px;
}
#ads3{
    position: relative;
    background-color: deeppink;
    height: 295px;
    width: 300px;
}
#space{
    position: relative;
    background-color: lightseagreen;
    height: 320px;
    width: 890px;
    bottom: 1390px;
}
#others{
    position: relative;
    background-color: greenyellow;
    height: 270px;
    width: 890px;
    bottom: 1380px;
}
#others1{
    position: relative;
    background-color: darkgrey;
    height: 40px;
    width: 890px;
    font-size: 15px;
    font-weight: bold;
}
#others2{
    position: relative;
    background-color: cornflowerblue;
    height: 230px;
    width: 890px;
}
#others img {
    width: 95px;
    height: 160px;

}
