{% extends 'layout.html' %}

{% block content %}
<h3>category {{ category}}</h3>
    <h3>List of our {{ category }} books</h3>
<div class="main">

    <div class="list">
       <table>
           <tr>
               <th>#</th>
               <th>Title</th>
               <th>Author</th>
               <th>Category</th>
           </tr>
           {% for item in category_list %}
               <tr>
                   <td id ="first_column">{{ loop.index }} </td>
                   <td id ="second_column"><a href=/title/{{ item.id }}e>{{ item.title }}</a></td>
                   <td id ="third_column">{{ item.author }}</td>
                   <td id ="forth_column">{{ item.category }}</td>

               </tr>
           {% endfor %}
        </table>
    </div>


    <div class="side_bar">
        <h4>BROWSE BY CATEGORIES</h4>
        <table>

           {% for item in categories %}
               <tr>

                  <td><a href=/category/{{ item.category }}> {{ item.category }} </a> </td>

               </tr>
           {% endfor %}
        </table>
    </div>
</div>



        {% endblock %}