{% extends 'layout.html' %}

{% block content %}
<h3>Books Books Books</h3>

    <h3>List of our books</h3>

<div class="main">

    <div class="list">
       <table>

           {% for book in books %}
               <tr>

                   <a href=/title/{{ book.id}}><img src="/images/{{ book.id}}.jpg" alt="pic1"/></a>


               </tr>
           {% endfor %}
        </table>
    </div>


    <div class="side_bar">
        <h4>BROWSE BY CATEGORIES</h4>
        <table>

           {% for item in categories %}
               <tr>

                  <td><a href=/category/{{ item.category }}> {{ item.category }} </a> </td>
                      {#  {{ item.category }} becomes <category> in the view #}
               </tr>
           {% endfor %}
        </table>
    </div>
</div>



        {% endblock %}