{% extends 'layout.html' %}

{% block content %}

    <h3>Reading great books makes your brain sharp.</h3>


         <table>
            <tr>

                   <td id ="picture"><img src="/images/{{ specific_book.id}}.jpg" alt="pic1"/></td>
                   <td id ="title">{{ specific_book.title }}</td>
                   <td id ="author">by {{ specific_book.author }}</td>

            </tr>


        </table>



    <div class="side_bar">
        <h4>BROWSE BY CATEGORIES</h4>
        <table>

           {% for item in categories %}
               <tr>

                  <td><a href=/category/{{ item.category }}> {{ item.category }} </a> </td>
                      {#  {{ item.category }} becomes <category> in the view #}
               </tr>
           {% endfor %}
        </table>
    </div>




        {% endblock %}