{% extends 'layout.html' %}

{% block content %}
<h3>Books Books Books </h3>

<div class="main">

     <div class="list">
         <h3>ID{{ specific_book.id}}</h3>
               <tr>

                   <td id ="second_column">{{ specific_book.title }}</td>
                   <td id ="third_column">{{ specific_book.author }}</td>
                   <td id ="forth_column">{{ specific_book.category }}</td>

               </tr>

        </table>
    </div>


    <div class="side_bar">
        <h4>BROWSE BY CATEGORIES</h4>
        <table>

           {% for item in categories %}
               <tr>

                  <td><a href=/category/{{ item.category }}> {{ item.category }} </a> </td>
                      {#  {{ item.category }} becomes <category> in the view #}
               </tr>
           {% endfor %}
        </table>
    </div>
</div>



        {% endblock %}