<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/title.css') }}">

{% extends 'layout.html' %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/title.css') }}">




<div id="main">



    <div id="top">
        <div id="top1"></div>
        <div id="top2">Reading great books makes your brain sharp!!!</div>
        <div id="top3"></div>
    </div>


    <div id="book">
        <div id="book1"></div>
        <div id="book2"><img src="/images/{{ specific_book.id}}.jpg" alt="pic1"/></div>
        <div id="book3">Rating</div>
    </div>


    <div id="info">
         <div id="info1"></div>
         <div id="info2">{{ specific_book.title }}</div>
         <div id="info3">by {{ specific_book.author }}</div>
         <div id="info4">Rating </div>
         <div id="info5">buy on Amazon</div>
    </div>


    <div id="ads">
         <div id="ads1">
             <h4>BROWSE BY CATEGORIES</h4>
        <table>

           {% for item in categories %}
               <tr>

                  <td><a href="/category/{{ item.category }}"> {{ item.category }} </a> </td>
                      {#  {{ item.category }} becomes <category> in the view #}
               </tr>

           {% endfor %}

         </table>
         </div>
         <div id="ads2"></div>
         <div id="ads3"></div>
    </div>


    <div id="space"></div>

    <div id="others">
        <div id="others1">OTHER BOOKS IN THIS CATEGORY</div>

        <div id="others2">

            <table>

           {% for book in books %}
               <tr>

                   <a href=/title/{{ book.id}}><img src="/images/{{ book.id}}.jpg" alt="pic1"/></a>

##TODO ADD QUERY OF 9 FIRST BOOK OF THE SAME CATEGORY AS THE BOOK



               </tr>
           {% endfor %}
        </table>



        </div>

    </div>


<!--

         <table>
            <tr>

                   <td id ="picture"><img src="/images/{{ specific_book.id}}.jpg" alt="pic1"/></td>
                   <td id ="title">{{ specific_book.title }}</td>
                   <td id ="author">by {{ specific_book.author }}</td>

            </tr>


        </table>

-->




</div>



        {% endblock %}